<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title d-flex justify-content-center">Liste des élèves</h1>
        <h2 class="card-subtitle text-muted">Filtres disponibles : </h2>

        <form [formGroup]=searchformGroup (ngSubmit)="handleSearchEleves()" class="d-flex">
          <input class="form-control me-2" type="search" formControlName="keyword" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Rechercher <i class="bi bi-search"></i></button>
        </form>
        <div><p>{{searchformGroup.value | json}}</p></div>
        <div *ngIf="errorMessage">
          <ngb-alert
            class="
            bg-transparent
            border-danger border
            text-danger
            d-flex
            align-items-center
            fs-5
          "
          >
            <i
              name="Info"
              class="feather-sm flex-shrink-0 d-flex me-2"
            ></i>
            Les données n'ont pas pu être chargées... Verifiez votre connexion
          </ngb-alert>
        </div>

        <div class="table-responsive" *ngIf="eleves">

          <table class="table align-middle text-nowrap">
            <thead>
            <tr>
              <th class="text-dark font-medium fs-4">Id + mail</th>
              <th class="text-dark font-medium fs-4">Prenom</th>
              <th class="text-dark font-medium fs-4">Nom</th>
              <th class="text-dark font-medium fs-4">Genre</th>
              <th class="text-dark font-medium fs-4">telephone</th>
              <th class="text-dark font-medium fs-4">dateDeNaissance</th>
              <th class="text-dark font-medium fs-4">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let eleve of eleves | async'>
              <td>
                <div class="d-flex align-items-center">
                  <div class="ms-3">
                    <h5 class="mb-0 font-medium">{{eleve.id}}</h5>
                    <span class="text-muted">{{eleve.email}}</span>
                  </div>
                </div>
              </td>
              <td> {{eleve.prenom}}</td>
              <td> {{eleve.nom}} </td>
              <td> {{eleve.genre}} </td>
              <td> {{eleve.telephone}}</td>
              <td> {{eleve.dateDeNaissance | date:'longDate'}} </td>
              <td>
                <button (click)="handleEditEleve(eleve)" class="btn btn-secondary">
                  <i class="bi bi-person-vcard"></i>
                </button>
              </td>
              <td>
                <button (click)="handleSuppressionEleve(eleve)" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
