<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Project Listing</h4>
        <h5 class="card-subtitle text-muted">Overview of the projects</h5>
        <form [formGroup]=searchformGroup (ngSubmit)="handleSearchEleves()" class="d-flex">
          <input class="form-control me-2" type="search" formControlName="keyword" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Rechercher <i class="bi bi-search"></i></button>
        </form>
        <div><p>{{searchformGroup.value | json}}</p></div>
        <div *ngIf="errorMessage">
          <ngb-alert
            class="
            bg-transparent
            border-danger border
            text-danger
            d-flex
            align-items-center
            fs-5
          "
          >
            <i
              name="Info"
              class="feather-sm flex-shrink-0 d-flex me-2"
            ></i>
            Les données n'ont pas pu être chargées... Verifiez votre connexion
          </ngb-alert>
        </div>

        <div class="table-responsive" *ngIf="eleves">

          <table class="table align-middle text-nowrap">
            <thead>
            <tr>
              <th class="text-dark font-medium fs-4">Id + mail</th>
              <th class="text-dark font-medium fs-4">Prenom</th>
              <th class="text-dark font-medium fs-4">Nom</th>
              <th class="text-dark font-medium fs-4">telephone</th>
              <th class="text-dark font-medium fs-4">dateDeNaissance</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let eleve of eleves | async'>
              <td>
                <div class="d-flex align-items-center">
                  <div class="ms-3">
                    <h5 class="mb-0 font-medium">{{eleve.id}}</h5>
                    <span class="text-muted">{{eleve.email}}</span>
                  </div>
                </div>
              </td>
              <td class="fs-4">{{eleve.prenom}}</td>
              <td>
                {{eleve.nom}}
              </td>

              <td>
                <h5 class="mb-0 fw-normal">{{eleve.telephone}}</h5>
              </td>
              <td>
                <h5 class="mb-0 fw-normal">{{eleve.dateDeNaissance | date:'dd/mm/yyyy'}}</h5>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
