<div class="container">
  <div class="card col-md-6 offset-3">
    <div class="card-header">Nouvel Eleve</div>
    <div class="card-body">
      <form [formGroup]="ajoutEleveFormGroup" (ngSubmit)="handleSaveEleve()">

        <div class="mb-3">
            <div class="form-check">
              <input type="radio" class="form-check-input" formControlName="genre" name="genre" id="homme" value="H">
              <label class="form-check-label" for="homme"> Homme </label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" formControlName="genre" name="genre" id="femme" value="F"
                     checked>
              <label class="form-check-label" for="femme"> Femme </label>
          </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Nom :</label>
            <input type="text" formControlName="nom" class="form-control" required>
          <span class="text-danger"
                *ngIf="ajoutEleveFormGroup.controls['nom'].touched
                && ajoutEleveFormGroup.controls['nom'].errors
                && ajoutEleveFormGroup.controls['nom'].errors!['required']">
            Le nom est requis
          </span>
          </div>



          <div class="mb-3">
            <label class="form-label">Prenom :</label>
            <input type="text" formControlName="prenom" class="form-control" required>
            <span class="text-danger"
                  *ngIf="ajoutEleveFormGroup.controls['prenom'].touched
                && ajoutEleveFormGroup.controls['prenom'].errors
                && ajoutEleveFormGroup.controls['prenom'].errors!['required']">
            Le prénom est requis
          </span>
          </div>


          <div class="mb-3">
            <label class="form-label">Telephone :</label>
            <input type="text" formControlName="telephone" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Email :</label>
            <input type="email" formControlName="email" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Date de naissance :</label>
            <input type="date" formControlName="dateDeNaissance" class="form-control" required>
            <span class="text-danger"
                  *ngIf="ajoutEleveFormGroup.controls['dateDeNaissance'].touched
                && ajoutEleveFormGroup.controls['dateDeNaissance'].errors
                && ajoutEleveFormGroup.controls['dateDeNaissance'].errors!['required']">
            La date de naissance est requise
          </span>
          </div>

          <div class="mb-3">
            <label class="form-label">Details :</label>
            <input type="text" formControlName="details" class="form-control">
          </div>
          <button [disabled]="!ajoutEleveFormGroup.valid" class="btn btn-info"> Sauvegarder</button>
      </form>
    </div>
  </div>
</div>
